.main-all-room{
    display: grid;
    grid-template-areas: 
    "cont-header-container cont-header-container cont-header-container              cont-header-container"
    "cont-content-all-rooms     cont-content-all-rooms       cont-content-all-rooms   cont-content-all-rooms"
    "cont-footer-info       cont-footer-info         cont-footer-info               cont-footer-info"
    ;
}

.cont-content-all-rooms{
    grid-area: cont-content-all-rooms;  
    margin-left: auto; 
    margin-right: auto;
    max-width: 1140px;   
    }

.content-all-room{
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 200px 1fr);  
     */
    
}

.cont-search-rooms{
    /* background-image: url('/Assets/img/category/Torres-del-paine.webp')  ; */
    background-color: #f7f7f7;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    margin-top: 1.5rem ;
    
}

.bar-search-rooms{
    background-color: #fdfdfd70;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 148px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.08),0 4px 12px rgba(0,0,0,0.05); 
}

.bar-search-rooms>.form-search{
    flex-wrap:nowrap;

}

.cont-all-reservation{
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;

}





@media screen and (max-width: 320px){
    .main-all-room{
        display: grid;
        grid-template-areas: 
        "cont-header-container "
        "cont-content-all-rooms  "
        "cont-footer-info       "
        ;

        box-sizing: border-box;
        margin: 0px;
    }


    .cont-content-all-rooms{
        grid-area: cont-content-all-rooms;
        grid-column: 1/-1;
        margin-left: auto; 
        margin-right: auto;
        max-width: 318px;  
        }

        
           
        .cont-search-rooms{            
            background-color: #f7f7f7;           
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50%;
            height: auto;
            margin-top: 1.5rem ;
            
            display: none;
        }

        .bar-search-rooms {
            display: none;
        }
    
}