/* Genericos */

/* color primary:  #6a3699  Violet*/

body{
    font-family: 'Quicksand', sans-serif;
    background-color: #f7f7f7;
    
}.wrap-container{
    margin: 0px;
}

.cont-title{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 10px;
}

.title-h1{
    font-weight: 600;
}

.title-h2{
    font-weight: 500;
}

.title-h3{
    font-weight: 400;
}

.title-h4{
    font-weight: bolder;
    font-size: 16px;


}

.bar-inf-title .subtitle {    
    font-weight: 400; 
    color: hsl(0, 0%, 0%)  
}

.main-allcontent{
    display: grid;
    grid-template-areas: 
    "cont-header-container         cont-header-container         cont-header-container         cont-header-container"
    "cont-search                   cont-search                   cont-search                   cont-search"
    "cont-cat-popular              cont-cat-popular              cont-cat-popular              cont-cat-popular"
    "cont-all-reservation          cont-all-reservation          cont-all-reservation          cont-all-reservation"
    "cont-advice-information       cont-advice-information       cont-advice-information       cont-advice-information"
    "cont-feature-city             cont-feature-city             cont-feature-city             cont-feature-city"
    "cont-partners-information     cont-partners-information     cont-partners-information     cont-partners-information" 
    "cont-footer-info              cont-footer-info              cont-footer-info              cont-footer-info"
    ;
}


/* Header y navegacion */
.cont-header-container{
    padding: 20px 35px 20px 35px; 
    grid-area: cont-header-container;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 12px 0 rgb(0 0 0 / 14%);
    position:sticky;
    z-index: 10;
    top: 0;
    background-color: #f7f7f7;
}

/* Menu superior Iquierdo */
.nav-left{
    display: inline-block;
}

.logo{
    margin-top: 5px;

}
.top-nav-left {
    display: flex;
}

.top-nav-left ul{
    list-style: none;
}

.top-nav-left li{
    display: inline;
}

.top-nav-left a{
    text-decoration: none;
}


/* Menu superior Derecho */
.top-nav-right ul{
    list-style: none;
    color: blueviolet;
}

.top-nav-right li{
    display: inline-block;
}
.top-nav-right a{
    text-decoration: none;
}

/* contenido principal y general del sitio */
.main-content{
    background-color: #f7f7f7;
}

/* Slider y busqueda*/

.cont-search {
    grid-area: cont-search;
    background-image: url('/Assets/MapBox.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 450px;
}

.bar-search{
    background-color: #fdfdfd70;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 148px;
}

.search-pref{
    display: flex;
    flex-direction: column;
}

.search-pref.place{
    flex-grow: 1;
    max-width: 210px;
} 

.search-pref.category{
    flex-grow: 1;
    max-width: 230px;
    display: flex;
    align-items: center;
}

.form-search{
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* max-width: 1024px; */
    margin: 0 auto;       
    border-radius: 148px;    
    padding-right: 40px ;    
}

.form-search input[type="text"]{
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    margin-right: 30px;   
    margin-bottom: 10px;
    margin-left: 40px;
}

.form-searitem-titlech button{
    background-color: hsl(271.52deg 47.83% 40.59%);
    color: #f7f7f7;
    border-radius: 50%;    
    padding: 20px 20px; 
    border: none;
    margin: 10px auto    
}

.form-search i {    
    color: #f7f7f7;   
}

/* main .p{
    text-align: center;
}
 */


/* seccion de categorias populares */
.cont-cat-popular{
    grid-area: cont-cat-popular ;
}

.cont-card{
    display: grid;
    grid-template-columns:23% 23% 23%;
    justify-content: center;   
}

.popular-card {     
    background-color: #ffffff;
    padding-top: 30px ;
    padding-bottom: 30px; 
    padding-left: 30px;
    margin: 0px 10px 10px 0px; 
    display: flex;    
    align-items: center;    
    border-radius: 5px;      
}

.popular-card:hover  {     
    background-color: hsl(271.52deg 47.83% 40.59%);
    color: #ffffff;
    padding-top: 26px ;
    padding-bottom: 30px; 
    margin: 0px 10px 10px 0px;  
    transition: all 0.6s ease-out;  
}

.popular-card-icon{    
    margin: 5px; 
    background-color: transparent;  
    height: 70px;
    width: 70px;
    justify-items: center;
    align-items: center;    
}

.popular-card-icon img{
    text-align: center;
    margin: 5px;    
    height: 70px;
    width: 70px; 
}

.popular-card-title{
    font-weight: 100;    
    font-size: 1.1rem;
    margin-top: 25px;
    margin-left: 2.3rem;
}


/* Lista de lugares destacados */
.cont-all-reservation{
    grid-area: cont-all-reservation;
    margin-top: 30px;
    background-color: hsla(0, 0%, 100%, 0.957);
    padding-bottom: 5rem;
    display: grid;
    justify-items: center;
    align-items: center;    
}

.all-reservation{
    justify-items: center;
    align-items: center;   
}

.cont-location{
    margin-top: 2.5rem;
    display: grid;    
    grid-template-columns:  23% 23% 23% 23%;
    justify-content: space-evenly;
}

/* tarjetas DESTACADOS, locales o servicios */
.cont-card-great{
    margin-top: 10px;
    margin-bottom: 15px;    
    box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.15);
    border-radius: 7px 7px 0px 0px;
    overflow: hidden; 
}

/* tarjeta */ 
.card-great {
    background-color: #ffffff;
    margin-left: 0px;
    margin-right: 0px;   
}

.item-header{
    background-color: #fdfdfd70;    
    position: relative;
}

.item-media{
    position: relative;
}

.item-header img{    
    border-radius: 7px 7px 0px 0px;       
    width: 100%;
    height: 160px;    
    object-fit: cover;
    overflow: hidden;   
}

.item-price{
    position: absolute;
    font-size: 1.6rem;    
    right: 10px;
    color: rgb(249, 247, 249); 
    background-color: rgba(0, 0, 0, 0.065);
    padding: 5px 10px;    
    bottom: 10px;
    left: 10px;
}

.item-price :nth-child(2){   
    color: rgb(255, 255, 255);
    position: relative;  
    top: -4px
}

.item-header-info{
    padding: 0px 20px 0px 20px;    
}

.item-header h3 {
    margin-bottom: 6px;
}

.item-header-info a{
    text-decoration: none;
    font-weight: 500;
    color:  #6a3699;    
}

.item-address{
    color: #949ca5;
    font-style: normal;    
    font-size: 14px;       
}

.item-content{
    display: block;
    padding: 0px 20px 0px 20px ;    
}

.item-category span{
    color: #aca9a9;
}

.item-content-category{
    color: #3b4249;
    font-size: 14px;
    font-weight: 200;
}

.item-content ul{
    padding-left: 0px;
    color:#aca9a9;
    list-style: none;
}

.item-description li{
    list-style: none;
    display:contents;
    margin-left: 0px;
    font-size: 14px;
    color: #3b4249
}

.item-description{
    margin-bottom: 5px;
}

.btn-all-location {
    display: flex;
    justify-content: center;
}

.btn-all-location a{        
    color: #6a3699;  
    border: 1px solid #6a3699;
    border-color: #6a3699;
    font-size: 18px;    
    margin-bottom: 1rem;
    margin-top: 3rem;
    text-decoration: none;
    transition: all .2s ease-in-out;
    border-radius: 50px;
    min-width: 150px;
    min-height: 35px;
    text-align: center;
    padding-top: 1.3rem;
    padding-bottom: 0.7rem; 
}


.btn-all-location a:hover{    
    background-color: hsl(271.52deg 47.83% 40.59%);    
    border-color: hsl(271.52deg 47.83% 40.59%);
    color: #f7f7f7;
    font-size: 18px;    
    margin-bottom: 1rem;
    margin-top: 3rem;
    text-decoration: none;
    transition: all .2s ease-in-out;
    border-radius: 50px;
    min-width: 150px;
    min-height: 35px;
    text-align: center;
    padding-top: 1.3rem;
    padding-bottom: 0.7rem;
    
}


/* seccion de Consejos generales & Cripto */
.cont-advice-information{
    grid-area: cont-advice-information;
    
}


/* tarjetas Ciudades DESTACADOS, categoria general*/
.cont-feature-city{
    grid-area: cont-feature-city;
}

.all-feature-city{
    display: grid;
    justify-content:space-around;
    align-items: center; 
}

.cont-city-category{
    margin-top: 2.5rem;    
    display: grid;
    grid-template-columns: repeat(4, 1fr);   
    gap: 2px 5px;
    list-style: none;
    height: 290px;     
    /* width: 1024px; */
}

.item-media-cat img{ 
    width: 100%; 
    overflow: hidden;
    object-fit: cover; 
}

.cont-city-category :nth-child(1){
    grid-area: 1/1 / 3/3;
    height: 100%;
}

.cont-city-category :nth-child(2){    
    grid-column: 3/4 ;   
    grid-row: 1/2;
}

.cont-city-category :nth-child(3){    
    grid-column: 4/5;  
    grid-row: 1/2; 
}

.cont-city-category :nth-child(4){    
    grid-column: 3/4;  
    grid-row: 2/3; 
}

.cont-city-category :nth-child(5){
    grid-column: 4/5;  
    grid-row: 2/3; 
}


.cont-city-category :nth-child(6){    
grid-column: ;  
}

.cont-city-category :nth-child(7){    
grid-column: ;  
}

.cont-city-category :nth-child(8){   
grid-column: 3/5;  
grid-row: 3/4; 
overflow: hidden;
}

.cont-card-cat{   
    overflow: hidden; 
    border-radius: 9px 9px 9px 9px;  
    background-color: #fff;          
}

.cont-card-cat:hover{   
    filter: brightness(75%);         
}


/* tarjeta */ 
.card-great-cat {   
    margin-left: 0px;
    margin-right: 0px;  
}

.item-header-cat{      
    position: relative;    
}

.item-media-cat{
    position: relative;
}

.item-header-cat img{    
    border-radius: 10px 10px 10px 10px;       
    width: 100%;
    overflow: hidden;
    object-fit: cover;   
}

.item-price-cat{
    position: absolute;
    font-size: 1.6rem;       
    color: rgb(249, 247, 249); 
    background-color: rgba(0, 0, 0, 0.065);
    padding: 5px 10px;    
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;    
}


/* seccion de partners */
.cont-title-partners{
    text-align: left;
    padding-top: 25px;
    padding-bottom: 10px;
    padding-left: 30px;
}

.title-h2 h2{
    font-weight: 300;
}

.subtitle{
    color:#888;     
}



/* Icono externo de fontAwesom */
.item-description .fa:before {
    content: "\f2c5","\f2c5","\f21d","\f1bb";
    color: #3b4249;
}


.item-footer{
    margin-left: 10px;
    text-align: end;
    padding-right: 8px; 
    margin-top: -10px;
}


.item-footer ul{
    padding-left: 0px;
    list-style: none;
    color: #f8b42b;
    display: inline-flex;  
}

.item-footer li{
    margin-left: 2px;  
}

.item-footer span{
    color: #494949;
} 


/* seccion informacion adicional */
.cont-advice-information{
    background-color: #f7f7f7;
    margin-top: 2rem;
}

.cont-all-information{    
    justify-content: center;     
}

.all-card-information{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 25% 25%  25% ; 
    justify-content: space-evenly;    
}

.cont-information{
    margin-top: 30px;
    margin-bottom: 40px;
    background-color: #ffffff;
    align-items: center;
    text-align: center;
}

.info-icon{
        
    background-color: rgba(159, 25, 249, 0.07);
    border-radius: 60%; 
    width: 100px;
    height: 100px;
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 30px;  
}

.info-icon img{    
    margin: 20px;    
}

.info-card-title{
    font-weight: 100;
    align-content: center;
    text-align: center;
    font-size: 1.1rem;
    margin-top: 15px;
}

.info-card-description {
    padding: 10px;
    color: #777777;
    font-weight: 100;
}

/*  Seccion de Partners */
.cont-partners-information{
    grid-area: cont-partners-information;
}


/* Seccion de Footer */
.cont-footer-info{
    grid-area: cont-footer-info;

}

.footer-info{    
    background-color: #edecec;
    color: #707070;        
    padding-top: 25px;
    padding-bottom: 0px;
}

.footer-grid{
    display: grid;
    grid-template-columns: 25% 25% 35% ;
    justify-content: space-around;
    align-items: start;
}

.footer-cont {
    display:flex
}
.footer-img-det{
    margin-top: 18px;
    margin-right: 7px;
}

.footer-cont h4{
    color: #000;    
    display: inline-block;
    font-size: 21px;
    font-weight: 200; 
    margin-bottom: 10px;
}

.footer-social-img{
    margin-top: 0.3rem;
}

.footer-menu h4{
    color: #000;
    font-size: 21px;
    font-weight: 200; 
    margin-bottom: 10px;
}

.footer-menu ul{
    list-style: none;    
}

.footer-menu a{
    text-decoration: none;
    margin: 0px -40px;
    color: blueviolet;
}

.footer-contact h4{
    color: #000;
    font-size: 21px;
    font-weight: 200;  
    margin-bottom: 10px; 
}

.footer-contact ul{
    list-style: none;  
    margin-left: -40px;  
}

.footer-contact a{
    text-decoration: none;
    margin: 0px -40px;
    color: blueviolet;
}

.footer-copyright p{
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 0px;
    background-color: #dedbdb; 
    text-align: center;   
    
}


@media screen and (max-width: 320px){
    .main-allcontent{
        display: grid;
        grid-template-areas: 
        "cont-header-container      cont-header-container       "
        "cont-search                cont-search                    "
        "cont-cat-popular           cont-cat-popular   "
        "cont-all-reservation       cont-all-reservation    "
        "cont-advice-information    cont-advice-information    "
        "cont-feature-city          cont-feature-city   "
        "cont-partners-information  cont-partners-information   " 
        "cont-footer-info           cont-footer-info   "
        ;   
        box-sizing: border-box;
        margin: 0px;
    } 
    .cont-header-container{
       /*  display: none; */
       padding: 5px;

    }
    .nav-left{
        display: none;

    }

    .top-nav-right{
        display: none;
    }

    .cont-search{
        margin: 0px;
        display: none; 
    }

    .cat-popular-items{
        margin-left: 5px ;
        margin-right: 5px;

    }

    .title-h2{
        text-align: center;
    }

    .cont-card{
        margin: 10px;
        display: grid;
        grid-template-columns:repeat(auto-fit, minmax(180px, 1fr));
         
    }

    .cont-location{
        display: grid;
        grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
        justify-items: center;
    }

    .all-card-information{
        display: grid;
        grid-template-columns:repeat(auto-fit, minmax(180px, 1fr));
        justify-items: center;
        margin-left: 10px ;
        margin-right: 10px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .cont-feature-city{

    }
    
    .cont-city-category{
        margin-top: 2.5rem;    
        display: grid;
        grid-template-columns: repeat(4, 1fr);   
        gap: 8px 5px;
        list-style: none;
        height: 550px;     
        /* width: 1024px; */
    }
    .cont-city-category :nth-child(1){
        grid-area: 1/1 / 3/3;
        height: 100%;
    }
    
    .cont-city-category :nth-child(2){    
        grid-column: 3/5 ;   
        grid-row: 1/2;
    }
    
    .cont-city-category :nth-child(3){    
        grid-column: 3/5;  
        grid-row: 2/3; 
    }
    
    .cont-city-category :nth-child(4){    
        grid-column: 1/3;  
        grid-row: 3/4; 
    }
    
    .cont-city-category :nth-child(5){
        grid-column: 3/4;  
        grid-row: 3/4; 
    }
    
    
    .cont-city-category :nth-child(6){    
    grid-column: 3/5 ; 
    grid-row: 3/4; 
    }
    
    .cont-city-category :nth-child(7){    
    grid-column: 1/5;  
    display: 4/5;
    }
    
    .cont-city-category :nth-child(8){   
    grid-column: 1/5;  
    grid-row: 5/6; 
    overflow: hidden;
    
    }


}